body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    margin: 0;
    font-family: Arial, sans-serif;
}

.danger-zone {
    background-color: white;
    border: 2px solid #ff4c4c;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.danger-zone-label {
    color: #ff4c4c;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    cursor: pointer;
    background-color: #ff4c4c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #e23e3e;
}
